
<header>
<nav class="navbar fixed-top">
    <div class="container-fluid justify-content-center  ">
        <div class="d-flex justify-content-between  ">   
      <a class="navbar-brand d-flex align-content-center flex-wrap text-white" href="/">HOME</a>
      <img src="/img/logo.png" alt="Logo Digital House" width="20%" >
      <button class="navbar-toggler " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
      </button>
    </div>

      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Encuentre su pelicula:</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 ">
            <li class="nav-item">
                <a class="btn my-1 mx-1" id="btn" href="/movies">Listado de Películas</a>
            </li>
            <li class="nav-item">
                <a class="btn my-1 mx-1" id="btn" href="/genres">Listado de generos</a>
            </li>
            <li class="nav-item">
                <a class="btn my-1 mx-1" id="btn" href="/actors">Listado de actores</a>
            </li>
            
          </ul>
          <form class="d-flex mt-3" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </nav>
</header>